<%- include('../seccionesHTML/head.ejs') %>
    <body>
        <%- include('../seccionesHTML/menu.ejs'); %>

        <div class="has-background-danger box is-justify-content-center is-align-items-center p-6 m-6">

            <div class="columns has-text-centered">
                <div class="column">
                    <a href="/registrarProspecto" class="box card">
                        <i class="fa-solid fa-user-plus"></i>
                        Registrar Prospecto</a>
                </div>
                <div class="column">
                    <a href="/verProspectos" class="box card">
                        <i class="fa-solid fa-users"></i>
                        Prospectos</a>
                </div>
                <div class="column">
                    <div class="box card">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        Histórico Personal</div>
                </div>
            </div>

            <div class="columns has-text-centered">
                <div class="column">
                    <div class="box card">
                        <i class="fa-solid fa-users-rectangle"></i>
                        Grupos Capacitación</div>
                </div>
                <div class="column">
                    <div class="box card">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        Administración de Capacitación</div>
                </div>
                <div class="column">
                
                    <div class="box card">
                        <i class="fa-solid fa-person-chalkboard"></i>
                        Incubadora</div>
                </div>
            </div>

            <div class="columns has-text-centered">

                <div class="column is-4">
                    <div class="box card">
                        <i class="fa-solid fa-users-gear"></i>
                        Panel de Administración</div>
                </div>
            </div>

        </div>

    </body>
<%- include('../seccionesHTML/foot.ejs') %>